* {
   font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>main>.library>ul {
   display: flex;
   flex-flow: column;
   gap: 0.5rem;
}

body>main>.library>ul>li {
   display: flex;
   gap: 0.5rem;
   align-items: center;
   font-size: 0.9rem;
}

body>main>.library>ul>li>form {
   display: flex;
   flex-flow: wrap;
   gap: 0.5rem;
}

body>main>.library>ul>li>form>* {
   flex: auto;
}

body>main>.library>ul>li>form>input[name="title"] {
   width: 16rem;
}

body>main>.library>ul>li>form>input[type=number] {
   width: 4rem;
}